.inline-wrap {
        display: inline-block;
        max-width: 100%;
    }
    .block-wrap {
        width: 100%;
    }
    .block {
        position: relative;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 20px;
    }
    .icon {
        position: absolute;
        width: 40px;
        right: 0;
    }
*{
  -webkit-backface-visibility: hidden;
}

.circle {
    &-main {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-items: center;
      width: 375px;
      height: 375px;
      p {
        position: absolute;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 1px solid rgba(255, 63, 0, 0.3);
        border-radius: 100%;
        transform-origin: center;
        // perspective: 500px;
        // backface-visibility: hidden;
      }
    }

  &-one {
      z-index: 1;
      animation: myfirst 5s 0s forwards infinite;
    }

    &-two {
      z-index: 2;
      animation: myfirst 5s 1s forwards infinite;
    }

    &-three {
      z-index: 3;
      animation: myfirst 5s 2s forwards infinite;
    }

    &-four {
      z-index: 4;
      animation: myfirst 5s 3s forwards infinite;
    }

    &-five {
      z-index: 5;
      animation: myfirst 5s 4s forwards infinite;
    }
  }

  @keyframes myfirst {
    from {
      opacity: 1;
      width: 0px;
      height: 0px;
      -webkit-backface-visibility: hidden;
      -webkit-transform-style: preserve-3d;
    }

    to {
      opacity: 0;
      width: 305px;
      height: 305px;
      -webkit-backface-visibility: hidden;
      -webkit-transform-style: preserve-3d;
    }
  }



  @-webkit-keyframes radar {
    0% {
        -webkit-transform: scale(0);
        border: 1px solid rgba(255, 63, 0, 1);
        border-radius: 100%;
        opacity: 0;
    }

    10% {
        -webkit-transform: scale(0.1);
       border: 1px solid rgba(255, 63, 0, 0.8);
       opacity: 1;
    }
     30% {
        -webkit-transform: scale(0.5);
         border: 1px solid rgba(255, 63, 0, 0.6);
        opacity: 0.4;
    }
    50% {
        -webkit-transform: scale(0.7);
        border: 1px solid rgba(255, 63, 0, 0.4);
        opacity: 0.2;
    }

    100% {
        -webkit-transform: scale(1.5);
        border: 1px solid rgba(255, 63, 0, 0.1);
        opacity: 0;
    }
}
.g-spinner-radar{
    width: 600px;
    height: 600px;
    position: relative;
}
.g-spinner-radar i{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgba(255, 63, 0, 1);
    // background: #ff552e;
    position: absolute;
    left: 0;
    top:0;
    opacity: 0;
}

.g-spinner-radar i:nth-child(1){
    -webkit-animation:radar 5s linear 0s infinite;
}
.g-spinner-radar i:nth-child(2){
    -webkit-animation:radar 5s linear 1s infinite;
}
.g-spinner-radar i:nth-child(3){
    -webkit-animation:radar 5s linear 2s infinite;
}
.g-spinner-radar i:nth-child(4){
    -webkit-animation:radar 5s linear 3s infinite;
}
.g-spinner-radar i:nth-child(5){
    -webkit-animation:radar 5s linear 4s infinite;
}
