.my-date-picker {
  width: 100%;
  height: 550px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: #fff;
  transition: .5s bottom;

  .my-date-picker-head {
    height: 76px;
    line-height: 76px;

    .action-box {
      font-size: 32px;

      .action-pre,
      .action-next {
        padding: 0 20px;
        color: #666;
      }

      .action-pre {
        float: left;
        text-align: left;
      }

      .action-next {
        float: right;
        text-align: right;
        color: #ff714f;
      }
    }

    .date-picker-head-title {
      position: absolute;
      z-index: -1;
      width: 100%;
      font-size: 32px;
      text-align: center;
      color: #333;
    }
  }

  .border_1px {
    &::after {
      content: '';
      border-bottom-color: #eee;
      z-index: 10;
    }
  }

  .am-picker {
    display: flex;
  }
}

.my-date-picker-hide {
  width: 100%;
  position: absolute;
  bottom: -560px;
  transition: .5s bottom;
}